/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                          #ECECEA;
$font-family-sans-serif:           'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                    45px;
$navbar-default-bg:                white;
$navbar-default-brand-color:       #558C89;
$brand-primary:                    #558C89;
$jumbotron-bg:                     white;

/* Mixins */
@mixin transition ($seconds) {
    -webkit-transition: $seconds;
    -moz-transition: $seconds;
    -o-transition: $seconds;
    transition: $seconds;
}

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
     color: #D9853B;
     @include transition(.4);
     &:hover {
          color: darken(#D9853B, 10%);
          text-decoration: none;
     }
}
